# This file allows re-mapping author names/emails

# while maintaining the integrity of the repository

#

# Spec: https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors

#

Yusuf Mirza Pıçakcı <yusufmirza55@hotmail.com>
